.DivMain {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}


.DivImgContainer {
    margin:auto;
    width: 50%;
    display: inline-block;
    float: right;
}

.DivInfo {
    display: inline-block;
}