.DivMain {
    height: 160px;
    width: 100%;
}

.DivSubName {
    margin-top: 10%;
    height: 100%;
}

.Img {
    max-height: 80%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
}

.ProductName {
    font-size: 20px;
}

.Price {

}

.Separator {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}