.DivMain {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.DivFilters {
    display: inline-block;
    width: 20%;
    margin-right: 50px;
    position: absolute;
    top: 45px;
}

.DivProducts {
    display: inline-block;
    position: absolute;
    left: 25%;
    width: 70%;
}